  <div class="header">Menubar</div>
    
    <div class="Mainspace">

      <div class="list" ><h2>List View</h2>  <span><button (click)="toggledisplay()" >Filter</button></span></div>
      <div class="list">
      <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
      
        <!-- Date Column -->
        <ng-container matColumnDef="Date">
          <th mat-header-cell *matHeaderCellDef > Date </th>
          <td mat-cell *matCellDef="let element"> {{element.Date}} </td>
        </ng-container>
      
        <!-- Region Column -->
        <ng-container matColumnDef="Region">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Region </th>
          <td mat-cell *matCellDef="let element"> {{element.Region}} </td>
        </ng-container>
      
        <!-- Rep Column -->
        <ng-container matColumnDef="Rep">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Rep </th>
          <td mat-cell *matCellDef="let element"> {{element.Rep}} </td>
        </ng-container>
      
        <!-- Item Column -->
        <ng-container matColumnDef="Item">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Item </th>
          <td mat-cell *matCellDef="let element"> {{element.Item}} </td>
        </ng-container>
      
        <ng-container matColumnDef="Units">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Units </th>
          <td mat-cell *matCellDef="let element"> {{element.Units}} </td>
        </ng-container>
      
        <ng-container matColumnDef="UnitCost">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> UnitCost </th>
          <td mat-cell *matCellDef="let element"> {{element.UnitCost}} </td>
        </ng-container>
      
        <ng-container matColumnDef="Total">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Total </th>
          <td mat-cell *matCellDef="let element"> {{element.Total}} </td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      
        <mat-card class="example-card" *ngIf="isDisplay">
          <mat-card-header>
            <mat-card-subtitle>Items</mat-card-subtitle>
          </mat-card-header>
          <mat-card-actions>
            <p><mat-checkbox labelPosition="before" (change)="doCheck($event,'Binder')" [checked]="isChecked">Binder</mat-checkbox></p>
            <mat-divider></mat-divider>
            <p><mat-checkbox labelPosition="before" (change)="doCheck($event,'Pencil')" [checked]="isChecked2">Pencil</mat-checkbox></p>
            <mat-divider></mat-divider>
            <p><mat-checkbox labelPosition="before" (change)="doCheck($event,'Pen')" [checked]="isChecked3">Pen</mat-checkbox></p>
            <mat-divider></mat-divider>
          </mat-card-actions>
          <mat-card-header>
            <mat-card-subtitle>Region</mat-card-subtitle>
          </mat-card-header>
          <mat-card-actions>
            <p><mat-checkbox labelPosition="before"  (change)="doCheck($event,'East')" [checked]="isChecked4">East</mat-checkbox></p>
            <mat-divider></mat-divider>
            <p><mat-checkbox labelPosition="before"  (change)="doCheck($event,'Central')" [checked]="isChecked5">Central</mat-checkbox></p>
            <mat-divider></mat-divider>
            <p><mat-checkbox labelPosition="before" (change)="doCheck($event,'West')" [checked]="isChecked6">West</mat-checkbox></p>
            <mat-divider></mat-divider>
          </mat-card-actions>
        </mat-card>
      </div>
  </div>
  <div class=" Navbar">Navbar</div>